{% extends "layouts/base.html" %} 
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}
<head>
 
    
  </style>
</head>
<main>
  <div class="container-fluid px-4">

    <h1 class="mt-4">{{title}}</h1>
    <h2 class="mt-4">Please Be advised that this Dashboard is still under development</h2>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{head}} {{summary.current_month}}</li>

    </ol>
    <div class="row">
      <div class="col-xl-6 col-md-6">
        <div class="card bg-gold text-white mb-4">
          <div class="card-body">
            <h5>Overview</h5>
            <h6>${{summary.tonnes_trucked_mtd}}</h6>
            <!-- Table for Planned and Actual/Month-To-Date Tonnage -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Actual</th>
                  <th>Budget</th>
                  <th>Variance</th>
                  <th>%Variance</th>
                </tr>
              </thead>
              <tbody>
                {% for department in departments %}
                <tr>
                  <td>{{department.name}}</td>
                  <td>{{department.budget}}</td>
                  <td>{{department.plan}}</td>
                  <td>{{department.actual}}</td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
            <!-- End of Table -->
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            Department Spending
          </div>
          <div class="card-body"><canvas id="myBarChart" width="100%" height="53"></canvas></div>
        </div>      
        
      </div>
      
    </div>
    <div class='row'>
      <div class="col-xl-12 col-md-12">

        <div class="card-header">
          <i class="fas fa-chart-bar me-1"></i>
          Some small graph
        </div>
        <div class="card-body"><canvas id="" width="100%" height="15"></canvas></div>

      </div>
    </div>

   
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    var chartData = JSON.parse('{{ barData|escapejs }}');
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/static/assets/demo/chart-area-demo.js"></script>
<script src="/static/assets/demo/prod-chart.js"></script>
<script src="/static/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
