<nav class="sb-topnav navbar navbar-expand navbar-dark bg-grey">
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Brand as Logo Image -->
  <a class="navbar-brand ps-3" href="/">
    <img src="/static/assets/img/rsz_shamva_mine.png" alt="Shamva Mine D Logo" />
  </a>

  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        placeholder="Search for..."
        aria-label="Search for..."
        aria-describedby="btnNavbarSearch"
      />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="fas fa-user fa-fw"></i
      ></a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <!-- Settings Dropdown -->
        {% if user.is_authenticated and user.profile.role == 'manager' %}
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Settings</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'users-list' %}">Users</a></li>
                <!-- Add other Settings submenu items here if needed -->
            </ul>
        </li>
        {% endif %}
    
        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
        <li><hr class="dropdown-divider" /></li>
        {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
    </li>
  </ul>
</nav>


<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Handle dropdown submenu
      document.querySelectorAll('.dropdown-submenu a.dropdown-toggle').forEach(function(element) {
          element.addEventListener('click', function(e) {
              e.preventDefault();
              e.stopPropagation();

              // Close all submenus first
              document.querySelectorAll('.dropdown-submenu .dropdown-menu').forEach(function(submenu) {
                  submenu.classList.remove('show');
              });

              // Open the clicked submenu
              let nextEl = this.nextElementSibling;
              if (nextEl && !nextEl.classList.contains('show')) {
                  nextEl.classList.add('show');
              }
          });
      });
  });
</script>


