<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <div class="sb-sidenav-menu-heading">Core</div>
      <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Production Dashboard
      </a>
      <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="{%url 'costs'%}">
        <div class="sb-nav-link-icon"><i class="fas fa-dollar-sign"></i></div>
        Costs Dashboard
      </a>

      <div class="sb-sidenav-menu-heading">Interface</div>
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseLayouts"
        aria-expanded="false"
        aria-controls="collapseLayouts"
      >
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Production Data
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <div
        class="collapse"
        id="collapseLayouts"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          {% if request.user.profile.role == 'manager'%}
            <a class="nav-link" href="{%url 'summaries-list'%}">Summaries</a>
            <a class="nav-link" href="{%url 'sperformance-list'%}">Safety Performance</a>
            <!-- <a class="nav-link" href="">Production Data</a> -->
            <a class="nav-link" href="{%url 'targets'%}">Targets Data</a>
            <a class="nav-link" href="{%url 'budgets-list'%}">Budgets Data</a>
            <a class="nav-link" href="{%url 'tramming-list'%}">Tramming Data</a>
            <a class="nav-link" href="{%url 'scats-list'%}">Scats & Tails</a>
            <a class="nav-link" href="{%url 'engineeringData-list'%}">Engineering Data</a>
          {% endif %}
        </nav>
      </div>

      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFinance"
        aria-expanded="false"
        aria-controls="collapseFinance"
      >
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Finance Data
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <div
        class="collapse"
        id="collapseFinance"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          {% if request.user.profile.role == 'cost' or request.user.profile.role == 'manager' %}
            <a class="nav-link" href="{%url 'spending-list'%}">Department Spendings</a>
            <a class="nav-link" href="{%url 'dept-spend-budget'%}">Department Spending Budgets</a>
            <a class="nav-link" href="{%url 'dept-spend-plan'%}">Department Spending Plan</a>
            <a class="nav-link" href="{%url 'costs-list'%}">Cost Centres</a>
            <a class="nav-link" href="{%url 'costs-list'%}">Costs</a>
            <a class="nav-link" href="{%url 'cost-budget-list'%}">Cost Budgets</a>
            <a class="nav-link" href="{%url 'price-list'%}">Gold Price</a>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
  <div class="sb-sidenav-footer bg-grey">
    <div class="small">Logged in as:</div>
    {{ request.user.username}}
  </div>
</nav>
